/*mainColor = #B02737
mainColor2 = #891421
*/

#nav {
  width: 100%;
  float: right;
  background-color: #B02737;
  margin: auto;
  line-height: 250%;
}

#nav li {
  float: right;
  display: block;
  color: #ccc;
}
#nav button {
  background-color: #B02737;
  border: none;
  color: #FFFFFF;
  float: none;
  display: inline-block;
  font-family:"Gill Sans", sans-serif;
  font-weight: bold;
  /*margin: 0;*/
  padding: 8px 16px 9px;
  text-decoration: none;
}

#nav button:hover {
  background-color: #891421;
  color: #fff; }

.searchButton{
  height: 36px;
  width: 36px;
  border: none;
  background-image: url("search.png");
  background-size: cover;
  background-color: white;
  vertical-align: middle;
  text-decoration: none;
  padding-top: 0%;
}



